{% for post in allPosts %}
<div class="row mb-2">
    <div class="col-md-12">
        <div class="row no-gutters rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{post.author}}</strong>
                <h3 class="mb-1">{{post.title}}</h3>
                <p class="card-text mb-auto py-2">
                <div class="preview">{{post.desc}}</div>
                </p>
                <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img" width="200" height="100%" src={{post.img}} alt="Novfensec-img">
            </div>
        </div>
    </div>
</div>
{% endfor %}